<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post create</title>
</head>
<body>
    <form class="col-sm-3 my-1" method='GET'>
        <div class="form-group" class="card text-center">
            <label for="exampleFormControlInput1">Post title</label>
            <input type="text" class="form-control" placeholder="Post title">
            <label for="exampleFormControlInput1">Post body</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Post body"></textarea>
          </div>
    </form>
</body>
</html>
