{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag details view</title>
</head>
<body>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ tag.name }}</h5>
          <div class="dropdown">
            <button class="dropbtn">Relative posts</button>
            <div class="dropdown-content">
              {% for post in tag.post.all %}
               <a href="http://127.0.0.1:8000/posts/{{ post.id }}">{{ post.title }}</a>
              {% endfor %}
            </div>
          </div>
          <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete tag">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

{% endblock %}