{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag create</title>
</head>
<body>
    <form class="col-sm-3 my-1" method='GET'>
        <div class="form-group" class="card text-center">
            <label for="exampleFormControlInput1">Tag name</label name>
            <input type="text" class="form-control" placeholder="Tag name" name='name'>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Select posts</label>
                <select multiple class="form-control" id="exampleFormControlSelect2" input type="text" name='chosen_posts'>
                  {% for post in posts %}
                    <option>{{ post.title }}</option>
                  {% endfor %}
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Generate</button>
        </div>
    </form>
</body>
</html>

{% endblock %}